<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../css/main.css">
        <title>Document</title>
    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="adminUsuarios.html">Usuarios</a>
                        </li>
                        <li>
                            <a href="adminPartidas.html">Partidas
                            </a>
                        </li>
                        <li>
                            <a href="admonPreguntas.html">Preguntas</a>
                        </li>
                        <li class="active">
                            <a href="adminRanking.html">Ranking</a>
                            <span class="sr-only">(current)</span>

                        </li>
                        <li>
                            <a id="login" href="#">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            </a>
                        </li>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h1>Ranking</h1>
                </div>

                <div class="col-xs-12">

                    <!--Table-->
                    <table class="table">

                        <!--Table head-->
                        <thead class="mdb-color darken-3">
                            <tr class="text-white">
                                <th>Ranking</th>
                                <th>Img</th>
                                <th>Nombre</th>
                                <th>Genero</th>
                                <th>Correo</th>
                                <th>Puntos</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <img class="img-responsive img-rounded img-responsive avatar" src="https://cdn.icon-icons.com/icons2/108/PNG/256/males_male_avatar_man_people_faces_18363.png"
                                         alt="">
                                </td>
                                <td>Juan Diego Molina</td>
                                <td>Masculino</td>
                                <td>jash@mail.com</td>
                                <td>127</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <img class="img-responsive img-rounded img-responsive avatar" src="https://cdn.icon-icons.com/icons2/108/PNG/256/males_male_avatar_man_people_faces_18363.png"
                                         alt="">
                                </td>
                                <td>Juan Diego Molina</td>
                                <td>Masculino</td>
                                <td>jash@mail.com</td>
                                <td>127</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <img class="img-responsive img-rounded img-responsive avatar" src="https://cdn.icon-icons.com/icons2/108/PNG/256/males_male_avatar_man_people_faces_18363.png"
                                         alt="">
                                </td>
                                <td>Juan Diego Molina</td>
                                <td>Masculino</td>
                                <td>jash@mail.com</td>
                                <td>127</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>
                                    <img class="img-responsive img-rounded img-responsive avatar" src="https://cdn.icon-icons.com/icons2/108/PNG/256/males_male_avatar_man_people_faces_18363.png"
                                         alt="">
                                </td>
                                <td>Juan Diego Molina</td>
                                <td>Masculino</td>
                                <td>jash@mail.com</td>
                                <td>127</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>
                                    <img class="img-responsive img-rounded img-responsive avatar" src="https://cdn.icon-icons.com/icons2/108/PNG/256/males_male_avatar_man_people_faces_18363.png"
                                         alt="">
                                </td>
                                <td>Juan Diego Molina</td>
                                <td>Masculino</td>
                                <td>jash@mail.com</td>
                                <td>127</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>
                                    <img class="img-responsive img-rounded img-responsive avatar" src="https://cdn.icon-icons.com/icons2/108/PNG/256/males_male_avatar_man_people_faces_18363.png"
                                         alt="">
                                </td>
                                <td>Juan Diego Molina</td>
                                <td>Masculino</td>
                                <td>jash@mail.com</td>
                                <td>127</td>
                            </tr>
                        </tbody>
                        <!--Table body-->

                    </table>
                    <!--Table-->
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="../js/jquery.min.js"></script>
        <script src="js/vendor/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/singup.js"></script>

    </body>

</html>